{% comment %} 
Author: K. Dushyant Reddy
StudID: STU614f75ed0b64d1632597485
Social: https://www.linkedin.com/in/kdushyantreddy, https://github.com/Dushyant029 
{% endcomment %}


{% extends 'core/base.html' %}

{% block title %}Spaces | {% endblock %}

{% block content %}
<div class="container mx-auto mt-8 px-4 lg:px-0">
    <div class="lg:w-1/2 mx-auto">
      <h2 class="text-3xl font-semibold mb-4 text-center">Homepage</h2>
      <p class="text-center text-gray-600">
        DuChat offers seamless messaging and collaborative chatting to help you stay connected with your loved ones. Our user-friendly platform makes communication convenient and enjoyable, whether you’re chatting with friends, collaborating with coworkers, or catching up with family.
      </p>
  
      <!-- Centered Our Services Section -->
      <div class="mt-8 flex flex-col items-center">
        <h3 class="text-2xl font-semibold mb-4 text-center">Our Services</h3>
  
        <!-- Service Boxes -->
        <div class="flex flex-wrap justify-center w-full">
          <!-- Service Box 1 -->
          <div class="bg-yellow-300 p-8 rounded-md mb-8 mx-4 w-full md:w-1/2 lg:w-1/3 xl:w-1/4">
            <img src="/static/assets/cchat.jpg" alt="Service 1" class="w-50 h-50 mb-6 mx-auto">
            <h4 class="text-lg font-semibold mb-4 text-black text-center">Collaborative Chatting</h4>
            <p class="text-sm text-white text-center">
              Our platform offers features that make collaborative chatting easy and intuitive, ensuring successful collaboration with your team.
            </p>
          </div>
  
          <!-- Service Box 2 -->
          <div class="bg-black p-8 rounded-md mb-8 mx-4 w-full md:w-1/2 lg:w-1/3 xl:w-1/4">
            <img src="/static/assets/comm.jpg" alt="Service 2" class="w-50 h-50 mb-6 mx-auto">
            <h4 class="text-lg font-semibold mb-4 text-white text-center">Seamless Communication</h4>
            <p class="text-sm text-gray-300 text-center">
              Our platform offers features that ensure your communication is seamless and uninterrupted, no matter where you are.
            </p>
          </div>
  
          <!-- Service Box 3 -->
          <div class="bg-white p-8 rounded-md mb-8 mx-4 w-full md:w-1/2 lg:w-1/3 xl:w-1/4">
            <img src="/static/assets/ser.jpg" alt="Service 3" class="w-50 h-50 mb-6 mx-auto">
            <h4 class="text-lg font-semibold mb-4 text-black text-center">Messaging Service</h4>
            <p class="text-sm text-gray-600 text-center">
              Our messaging service offers quick and efficient communication, making it easier for you to stay connected with the people who matter most.
            </p>
          </div>
        </div>
      </div>
  
    </div>
  </div>

<div
  class="container mx-auto mt-8 flex flex-col lg:flex-row items-center justify-between"
>
  <div class="lg:w-1/2 lg:pr-8 lg:ml-8">
    <h1 class="text-4xl font-semibold mb-4">
      ChatSpace
    </h1>
    <p class="text-gray-600 mb-6">
      The chat spaces are accessible here.
    </p>
  </div>
  <div class="w-full flex flex-wrap items-center">
    {% for space in spaces %}
    <div class="w-full lg:w-1/4 px-3 py-3">
    <div class="p-4 bg-white shadow rounded-xl text-center">
    <h2 class="mb-5 text-2xl font-semibold">{{ space.name }}</h2>
    
    <a href="{% url 'space' space.slug %}" class="px-5 py-3 block rounded-xl text-white bg-yellow-300 hover:bg-black hover:text-yellow-300">Join</a>
    </div>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}