{% comment %} 
Author: K. Dushyant Reddy
StudID: STU614f75ed0b64d1632597485
Social: https://www.linkedin.com/in/kdushyantreddy, https://github.com/Dushyant029 
{% endcomment %}

<!-- chatapp/templates/chatapp/base.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <title>{% block title %}{% endblock %} DuChat - ChatApp</title>
  </head>

  <body class="bg-gray-100">
    <!-- Navbar -->
    <nav class="bg-yellow-300 p-4">
      <div class="container mx-auto flex items-center justify-between">
        <div class="flex items-center">
          <a href="{% url 'landpage' %}" class="flex items-center">
            <img
              src="/static/assets/logo.png"
              alt="DuChat Logo"
              class="h-12 mr-2"
            />
            <span class="text-black text-xl font-semibold">DuChat</span>
          </a>
        </div>
        <div class="flex items-center">
            {% if request.user.is_authenticated %}
            <a
              href="/spaces/"
              class="bg-white text-black mr-4 py-2 px-4 rounded hover:bg-gray-100"
              >Space</a
            >
            <a
              href="{% url 'logout' %}"
              class="bg-black text-yellow-300 py-2 px-4 rounded hover:bg-gray-800"
              >Logout</a
            >
            {% else %}
            <a
              href="/login/"
              class="bg-white text-black mr-4 py-2 px-4 rounded hover:bg-gray-100"
              >Login</a
            >
            <a
              href="/signup/"
              class="bg-black text-yellow-300 py-2 px-4 rounded hover:bg-gray-800"
              >Sign Up</a
            >
            {% endif %}
          </div>
      </div>
    </nav>
    {% block content%}{% endblock %}
    {% block scripts%}{% endblock %}
  </body>
</html>
